body {
    background-image: url(kepek/hatter.jpg);
    background-size: 130%;
    background-position-x: 50%;
    background-repeat: repeat-y;
}

/* -------HEADER-------- */

header {
    background-color: #ffffff;
    border-bottom: 2px solid #e7ebef;
    border-top: 1px solid black;
}

header div {
    background-color: #FECC00;
    border-bottom: #245878 solid 2px;
    height: 30px;
    /* box-shadow: 0px 0px 30px 3px rgba(0,0,0,69%); */
}

header h1 {
    font-size: 7vw;
    font-family: "Comic Sans MS";
    text-align: center;
    padding: 2px 2px;
    color: #000000;
    text-decoration: underline black;
}

header img {
    width: 10vw;
}


/* NAV */

nav {
    background-color: aliceblue;
    padding: 20px 20px;
    /* box-shadow syntax: h-offset v-offset blur spread color */
    box-shadow: 0px 7px 15px 3px rgba(0,0,0,69%);
}

.table {
    margin-top: 5px;
    width: 50%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

section {
    text-align: justify;
    border: black solid 3px;
    margin: 70px 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 90%);
    overflow: hidden;
    text-shadow: 3px 3px 8px rgba(166,166,166,0.2);
}

header img:hover {
    filter: saturate(1000050%);
    transition: 5s;
}

.active {
    transition: 0.25s;
    text-decoration: black underline solid 2px;
    text-underline-offset: 5px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: bold;
}

nav a:hover {
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    transition: 0.25s;
}

nav a {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px;
    transition: 0.25s;
}

nav div>a:not(.active):hover {
    padding: 5px 15px;
    transition: 0.25s;
}

.smooth:not(.active):hover {
    padding: 10px 17.5px;
    transition: 0.25s;
}

.smooth {
    transition: 0.25s;
} 

/* SCROLLBAR CONFIG */

  /* Szélesség */
body::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Háttér */
body::-webkit-scrollbar-track {
    background: #ebebeb; 
  }
   
  /* Görgető */
body::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Görgető amikor ráviszed az egeret */
body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

footer {
    border-radius: 5px;
    border: black solid 3px;
    background-color: rgba(255, 255, 255, 90%);
    margin-top: -55px;
    margin-bottom: 70px;
    background-color: rgb(28, 121, 28);
    padding: 10px;
    font-family: "Comic Sans MS";
}

footer a {
    font-size: 3.5vh;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

footer a:hover {
    font-weight: bold;
}

section h2 {
    text-decoration: underline;
    font-weight: bold;
    font-family: cursive;
    padding-bottom: 20px;
}

section a {
    color: #245878;
}

iframe {
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

section a img:hover {
    cursor: zoom-in;
}

@media screen and (max-width: 768px) {
    iframe {
        /* height: 100%; */
        width: 100%;
    }
}